canvas {
  cursor: pointer;
  border: "none";
  outline: "none";
}

:focus-visible {
  outline: 2px solid #3b82f6;
  outline-offset: 2px;
}

:root {
  --bg-light: #ffffff;
  --bg-dark: #1e1e1e;
}

html {
  background-color: var(--bg-light);
  margin: 0;
  padding: 0;
}

html.dark {
  background-color: var(--bg-dark);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: inherit;
}
